.navbar-brand-full {
  width: 170px;
  height: 50px;
}

.nav-item {
  font-size: 18px;
}

.col {
  line-height: 20px;
}

.left {
  text-align: left;
}

.btn-pink {
  background-color: pink;
}

.logo-footer-b {
  width: 250px;
  height: 100px;
}

.windows-logo {
  font-size: 50px;
}

.main-img {
  width: 100%;
  height: 100%;
}

.body {
  height: 50vh;
}

footer {
  /*background-color: #394f79;*/
  background-color: #2b4c7b;
  margin-top: 50px;
}

.bannerMinText{
  color: #ffffff;
}

.bannerBarra{
  background-color: #22375e;
}

.bannerCentral{
  background-color: #394f79;
}

.btnCreatAccount{
  width:170px; 
  height:50px;
  border-radius: 20px;
  background-color:#394f79;
  border-color:rgb(255, 255, 255); 
  color:white;
}

.buttonAcountFree{
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin: 1rem;
  /* IMPORTANTE */
  text-align: center;
}

.sectionbuy{
  margin-top: 100px;
}

/*CSS Listas Cursos y Especialidades INICIO*/
ul{
  padding-left: 0;
  display: flex;
  list-style-type: none;
  background-color: #f8f7f7;
  column-count: 3;
}

.lista1{
  color: rgb(15, 66, 107);
  padding:1em;
}

.primero{
  border-left: none;
}

li > ul {
display: none;
position: absolute;
}

li:hover{
  background-color: rgb(15, 66, 107);
  color: white;
}

li:hover ul {
display: block;
left: 0;
margin-top: 1em;
width: 100%;
}

.lista2 {
  color: rgb(15, 66, 107);
  padding: 1em;
}

/*Estilo botones inicio*/
/*.btnRegister{
  border-radius: 20px;
  height: 50px;
  width: 250px;
  background-color: #f8f7f7;
}*/

/*border radius para componentes del formulario instructor*/
.bordeRedondoElement {
  border-radius: 10px;
  margin-top: 15px;
}

.fondodashboardadmin {
  background-color: #2b4c7b;
  color: #ffffff;
}

.fondodashboardadminnaranja {
  background-color: #f46722;
  color: #ffffff;
}

.fondodashboardadminnegro {
  background-color: #020407;
  color: #ffffff;
}

.centrartextocard {
  text-align: center;
  color: gray;
}

.bg-active {
  background-color: #2c2e35;
  color : white !important;
}

.font-weight-black-instructor{
  color: #8996a0;
  font-weight: bold;
}

.font-text-instructor{
  color: #8996a0;
}

.fondodashboardadmingeneral {
  background-color: #522369;
  color: #ffffff;
}